@import url('https://fonts.googleapis.com/css?family=Montserrat|Saira+Semi+Condensed:300,400,500,600&display=swap');

/* Move down content because we have a fixed navbar that is 50px tall */
* {
    box-sizing: border-box;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    background-color: #000F29;
    color: #ddd;
}

h1, h2, h3, h4, .navbar-brand {
    font-family: 'Saira Semi Condensed', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.d-none {
    display: none;
}

.w-auto {
    width: auto;
}

.navbar-brand {
    color: #fff;
    font-size: 28px;
}

.navbar-brand:hover {
    color: #fff;
    background: rgba(0,0,0,.1);
}
.navbar-brand > span {
    color: #99C5FF;
    font-weight: 300;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    /*padding: 50px 0;*/
}

.main-content {
    padding: 50px 0;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    height: 100vh;
    width: 20%;
}

.navbar-inverse {
    background-color: #001942;
}

.body-content {
    width: 70%;
    margin-left: 25%;
}

.navbar-nav > li {
    display: block;
    float: left;
    width: 100%;
}


.navbar-header {
    display: block;
    width: 100%;
    margin-bottom: 50px;
}


.navbar-nav {
    float: none;
}

.navbar-inverse .navbar-nav > li > a {
    font-family: 'Saira Semi Condensed', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #99C5FF;
    padding: 15px 30px;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: #001332;
    color: #fff;
}

.nav-profile {
    background-color: #001942;
    padding: 15px;
    position: fixed;
    width: 100%;
    min-height: 20px;
    top: 0;
    left: 0;
    z-index: 1040;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
}

.everest-table {
    width: 100%;
    border: none;
}

.everest-table tr:not(:last-child) {
    border-bottom: 1px solid #00204b;
}

.everest-table td, .everest-table th {
    border: 0px;
    padding: 10px;
}

    .everest-table th {
        /*background-color: #001332;*/
    }

.everest-btn {
    background-color: #003A9F;
    padding: 10px 20px;
    border: none;
    color: #fff;
}

.everest-btn:hover {
    background-color: #002F81;
}

form input, form select,
form textarea {
    width: 100%;
    padding: 10px;
    background-color: #141f34;
    color: #fff;
    border: 1px solid #1d3f6c;
    max-width: 100%;
}


form input[type='checkbox'] {
    width: auto;
}

    .btn-w-auto {
        width: auto;
    }

.box {
    padding: 20px;
    background-color: #1D2C49;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.6);
    margin-bottom: 20px;
}

.box h3 {
    margin-top: 0;
    text-transform: none;
}

.box hr {
    margin-bottom: 25px;
    margin-top: 10px;
    border-color: #8c8eae;
}

.logo-left {
    float: left;
}

.profile-right {
    float: right;
    width: 50%;
    text-align: right;
    padding-right: 15px;
}

.sub-menu {
    height: 0;
    overflow: hidden;
    transition: .5s height ease-in-out 0s;
    list-style: none;
    padding: 0;
}

.sub-menu a {
    font-family: 'Saira Semi Condensed', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #99C5FF;
    padding: 15px 30px;
    text-decoration: none;
    display: block;
    background-color: #041836;
}

.sub-menu a:hover {
    background-color: #001332;
    color: #fff;
}

.sub-menu a::before {
    content: '\25BA';
    margin-right: 10px;
    font-size: 10px;
}

.sub-menu-trigger:hover {
    background-color: #000e24;
}

.sub-menu-trigger:hover .sub-menu {
    height: auto;
}

.flex-center {
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: #1D2C49;
    padding: 30px;
}

.login-form {
    display: flex;
    justify-content: center;
}

    .login-form .navbar-brand {
        text-align: center;
        display: block;
        margin-bottom: 30px;
    }

    .login-form .form-group {
        margin-bottom: 20px;
    }
    /* Responsive: Portrait tablets and up */
    @media screen and (min-width: 768px) {
        .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}
